.form{
  padding-top:50px;
  text-align: center;
}
h1{
  text-align: center;
}
ul{
  display:flex;
  margin:auto;
  width:1200px;
  gap:20px;
}
li{
  list-style: none;
  width:200px;
  height: 100px;
  border: 1px solid rgb(43, 161, 45);
  border-radius: 6px;
  text-align: center;
  line-height: 100px;
}